<h1> Please input the item you are buying</h1>
<form action="/checkout" method="post">
<label for="item">Item</label><br>
<input id="item" type="text" name="item"><br>
<button type="submit" value="submit">Submit</button>
</form>
